<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986982196473-8m99oqee71787kshj4slh3bhq9ueq0o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986982196473-8m99oqee71787kshj4slh3bhq9ueq0o7</string>
	<key>API_KEY</key>
	<string>AIzaSyBSyeRo-EqNaoQBfNURpTf5lP6AnIJgdiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>986982196473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dorin.liron.To-Do-List</string>
	<key>PROJECT_ID</key>
	<string>todolistios-3b104</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistios-3b104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986982196473:ios:268eada13a9871de44ae28</string>
</dict>
</plist>